<a href="https://colab.research.google.com/github/ghadaali2010/Ghada/blob/main/Ghada_tasks_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Task 1
# Gravitational force is the attractive force that exists between twomasses. It can be calculated by using the following formula
G=6.67 * (10**(-11)) # gravity
M=6 * (10**(24))     # Earth mass
m=7.34 * (10**(22))  # Moon mass
r=3.84*(10**8)       # Earth radii
F=(G*M*m)/(r**2)     # Force
print(F)

1.9920979817708333e+20

In [ ]:
# task 3
#Write a program that accepts a sequence of comma-separatednumbers from user and generates a list and a tuple with those numbers

x = input('Enter your name')
y = input('Enter your age')
z = input('Enter your favoirte float')
a = [x, y, z]
b = {x, y, z}
c = (x, y, z)
print(type(a))
print(type(b))
print(type(c))

Enter your nameghada
Enter your age7
Enter your favoirte float2.5
<class 'list'>
<class 'set'>
<class 'tuple'>

In [ ]:
 # task
 # Write a function to get user info first name, last name, gender, id(3 numbers) and save it to a text file.
 ## create function
def file(firstname, lastname, gender, I):
        firstname = ('Ghada')
        lastname = ('Ali')
        gender =('Female')
        I = input ('456')
        f= open("task.txt",'a')
        f.write('file \n','W')
        f.write(f"{firstname},{lastname},{gender},{I} \n")
        f.close
print(file)

<function file at 0x7fc021a947a0>

In [ ]:
#Assegiment 2
#Use for, .split(), and if to create a Statement that will print out words that start with 's':
#st = 'Print only the words that start with s in this sentence'
st = 'Print only the words that start with s in this sentence'
for word in st.split():
    if word[0] == 's':
        print(word)

start
s
sentence

In [ ]:
#Use range() to print all the even numbers from 0 to 10.
for i in range (10):
  if i % 2== 0:
     print(i,'is even')

0 is even
2 is even
4 is even
6 is even
8 is even

In [ ]:
#Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3
for i in range (51):
    if i % 3== 0:     
        print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [ ]:
# Go through the string below and if the length of a word is even print "even!"

st = 'Print every word in this sentence that has an even number of letters'
x = st.split()
for word in x:
  if len(word)%2==0:
    print([word,'even!'])

['word', 'even!']
['in', 'even!']
['this', 'even!']
['sentence', 'even!']
['that', 'even!']
['an', 'even!']
['even', 'even!']
['number', 'even!']
['of', 'even!']

In [ ]:
#Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".
for fizzbuzz in range(101):
    if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
        print("fizzbuzz")
        continue
    elif fizzbuzz % 3 == 0:
        print("fizz")
        continue
    elif fizzbuzz % 5 == 0:
        print("buzz")
        continue
    print(fizzbuzz)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [ ]:
#Use List Comprehension to create a list of the first letters of every word in the string below:

st = 'Create a list of the first letters of every word in this string'
x = st.split()
for word in x:
    print(word[0])

C
a
l
o
t
f
l
o
e
w
i
t
s

In [3]:
#Assignment 3
#Write a function to count the number 4 in a given list.
def list_count_4(nums):
  count = 0  
  for num in nums:
    if num == 4:
      count = count + 1

  return count

print(list_count_4([1, 4, 6, 7, 47,7]))
print(list_count_4([1, 4, 6, 4, 7, 4]))

1
3

Assignment 3
Write a function to count the number 4 in a given list.

In [7]:
#write a function to check whether a number is divisible by another number.
def multiple(x, y):
     return True if x % y == 0 else False
print(multiple(20, 5))
print(multiple(7, 2))

True
False

In [9]:
#write a function to find the maximum and minimum numbers from a sequence of numbers.
def maxandmin(x, y):
     a = data[0]
     b = data[0]
     for num in data:
          if num> a:
               a = num
          elif num< b:
              b = num
return a, b

print(maxandmin([0, 10, 15, 40, -5, 42, 17, 28, 75]))

SyntaxError: ignored