<a href="https://colab.research.google.com/github/ghadaali2010/Ghada/blob/main/GhadaAssignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Assignment 3
#Write a function to count the number 4 in a given list.
def list_count_4(nums):
  count = 0  
  for num in nums:
    if num == 4:
      count = count + 1

  return count

print(list_count_4([1, 4, 6, 7, 47,7]))
print(list_count_4([1, 4, 6, 4, 7, 4]))

1
3

In [ ]:
#write a function to check whether a number is divisible by another number.
def multiple(x, y):
     return True if x % y == 0 else False
print(multiple(20, 5))
print(multiple(7, 2))

True
False

In [ ]:
#write a function to find the maximum and minimum numbers from a sequence of numbers.
def maxandmin(data):
     a = data[0]
     b = data[0]
     for num in data:
          if num> a:
               a = num
          elif num< b:
              b = num
     return a, b

print(maxandmin([0, 10, 15, 40, -5, 42, 17, 28, 75]))

(75, -5)

In [5]:
#Write a Python function that takes two lists and returns True if they have at least one common member.
def common_data(list1, list2):
     result = False
     for a in list1:
         for b in list2:
             if a == b:
                 result = True
                 return result
print(common_data([1,2,'a',4], [5,6,'a',8,9]))
print(common_data([1,3,4,5], [6,7,8,9]))

True
None

In [11]:
#Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 6
720

In [9]:
#Write a Python function to check whether a number is in a given range.The range is from 3 to 11
def test_range(n):
    if n in range(3,11):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
test_range(12)
test_range(8)

The number is outside the given range.
 8 is in the range

In [12]:
#Write a program to create the multiplication table (from 1 to 10) of a number.
n = int(input("Input a number: "))

# use for loop to iterate 10 times
for i in range(1,11):
   print(n,'x',i,'=',n*i)

Input a number: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [28]:
#Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
def lesser_of_two_evens(a,b):
    if (a % 2 and b % 2) != 0:
        if b > a:
            print(b)
        if a > b:
            print(a)    
    elif (a % 2 and b % 2) == 0:
        if a < b:
            print(a)
        else:
          print(b)
    pass
lesser_of_two_evens(8,12)  
lesser_of_two_evens(12,23)

8
12

In [29]:
#Write a function takes a two-word string and returns True if both words begin with same letter
def animal_crackers(string):
    s1, s2 = string.split(' ')
    print(s1[0].upper() == s2[0].upper())

animal_crackers('Levelheaded Llama') 
animal_crackers('Crazy Kangaroo')

True
False

In [31]:
#Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
def test_number20(x, y):
   if x == 20 or y == 20 or (x+y) == 20:
       return True
   else:
       return False
print(test_number20(17, 2))
print(test_number20(3, 2))
print(test_number20(2, 20))
print(test_number20(17, 3))
print(test_number20(20, 53))

False
False
True
True
True

In [40]:
#Given an integer n, return True if n is within 10 of either 100 or 200
def almost_there(n):
    if ((abs(100 - n) <= 10) or (abs(200 - n) <= 10)):
        return True
    else:
        return False

almost_there(291) 
almost_there(104)
almost_there(150) 
almost_there(209)

True

In [50]:
#Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum exceeds 21, return 'BUST'
def blackjack(a, b, c):
    sum = a + b + c
    if sum <= 21:
        return sum
    elif sum > 21:
        if a == 11 or b == 11 or c == 11:
            return sum-10
        else:
            return 'BUST'

print(blackjack(5, 9, 1))
print(blackjack(5, 9, 10))
print(blackjack(11,11,11))

15
BUST
23